__pycache__/
*.pyc
.venv/
*.log
*.DS_Store

# Fichiers convertis
*.jpg
*.png
*.webp

# Déploiement
build/
dist/
*.spec

# Git ignore lui-même (évite d’être versionné par erreur)
.gitignore

main.spec
HEIC-converter-1.0.deb
dist/
HEIC-converter_deb/
